/* line_interesting.html css */

.accordnig-panel-content {
  display: block;
}

/*canvas ----------------------------------------------------------------------*/
.descartes-cord-system-wrapper {
  float: left;
}

/*form ------------------------------------------------------------------------*/
.line-interesting-form-wrapper {
  float: left;  
}

.line-form {
  float: left;
  margin: 5px 10px 5px 10px;  
  padding: 10px;
}

.red-line-form {
  background-color: #ffa5a5;
}

.blue-line-form {
  background-color: #b7ddff;
}

.line-name-div {
  font-weight: bold;
}

.line-interesting-form-wrapper {
  margin: 10px;  
  padding: 10px;
}

.green-line-form {
  clear: both;
  background-color: #b5fba6;
}